html,
body {
  font-size: 16px;
}

/* extra css */
.display_flex {
  display: flex;
}

.align_self_center {
  align-self: center;
}

.fs-24 {
  font-size: 24px;
}

/* */
.lead {
  color: #494949;
}

/* navigaion */
.bar.navigation-style {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.bar.navigation-style .container .row {
  display: flex;
}

.logo-style,
.menu-style {
  align-self: center;
}

.logo-style .logo {
  height: 80px;
  max-height: 80px;
  top: -3px;
}

/* services */
.services .feature {
  padding: 15px;
}

.services .feature i.icon--lg+h4 {
  margin: 0;
}

.services .feature h4+p {
  margin: 0 auto !important;
}

/* features */

.features-style .feature p {
  min-height: auto;
  margin: 0;
}

/* technologies */
.technologies .feature {
  min-height: 330px;
}

.services .feature:hover {
  border: 1px solid #4a90e2;
}

.services .feature:hover.feature-3:after {
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  background: #4a90e2;
}

.technologies img {
  margin: 0 5px 8px 5px;
  max-height: 40px;
}

.travisci {
  background-color: #2EB459;
  border-radius: 50%;
  border: 2px solid #2EB459;
}

.w50 {
  width: 50px;
}

.w150 {
  width: 150px;
}

.markdown-body ul {
  list-style: inherit;
}

.markdown-body .technologyName {
  font-size: 20px;
  border-bottom: none;
}

.serviceHeader {
  border-bottom: 1px solid #eaecef;
  margin-bottom: 3.71428571em;
}
.case-block img {
  object-fit: cover;
  width: 100%;
}


.testimonial-home {

  /* box-shadow: 0 10px 35px 2px rgb(61 61 61 / 20%); */
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  text-align: center;
  background: #fff;
  height: 100%;
  padding: 20px 20px 20px 20px;
  border-bottom: 2px solid #00aedb;
  transition: all 0.5s;
  display:flex;
  align-items:center;
}
.verticle-middle
{
  vertical-align:middle;
  display: table-cell;
}

.testimonial-home .testimonial-detail {
  padding: 20px 0 0px 0px;
  text-align: center;

}

.testimonial-home .testimonial-name {
  margin-bottom: 2px !important;
}

.word-break {
  word-break: break-all;
}

.filter {
  background: #effcff;
  font-family: arial;
  padding: 6px 6px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.35s;
  border: medium none;
  font-size: 16px;
  line-height: 1;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: capitalize;
  padding: 12px 27px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
  margin: 0 3px;
  margin-bottom: 7px;
  display: inline-block;
  border-radius: 5px;
}

.filter:hover,
.filter.active {
  color: #fff;
  background: #00aedb;
  box-shadow: 0px 1px 3px 0px #00000026;
}

.projects {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project img {
  padding: 10px;
  width: 100%;
  height: 200px;
  ;
}

.project {
  transition: all .35s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: .5s;
}

div[data-glide-el=controls] {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%
}

button[data-glide-dir="<"],
button[data-glide-dir=">"] {
  position: absolute;
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 3px;
  background-color: #eee;
  opacity: .3;
  color: #000;
  cursor: pointer
}

button[data-glide-dir="<"]:hover,
button[data-glide-dir=">"]:hover {
  opacity: 1
}

button[data-glide-dir=">"] {
  right: 5px
}

button[data-glide-dir="<"] {
  left: 5px
}

.glide__slide pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.glide__slide--active .imgbox {
  background: #e5f7fb;
}


.feature h4+p {
  max-width: 100%;
}


.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.article__title {
  background: #f6f6f6;
  padding: 20px 20px;
  border-radius: 5px;
}
.gallery_section .slick-prev,
.gallery_section .slick-next {
  width: 34px !important;
  height: 60px !important;
  background: rgb(30 30 30 / 43%) !important;
  z-index: 999 !important;
}

.gallery_section .slick-prev::before,
.gallery_section .slick-next::before {
  font-size: 26px !important;
}

.gallery_section .slick-prev {
  left: -15px !important;
}

.gallery_section .slick-next {
  right: -15px !important;
}

.imgbox {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 0 5px;
}

.blog-feature p {
  min-height: 100%;
}

.team_img
{
  margin-bottom: 15px;
}




.casestudies-home {

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

  height: 100%;

  transition: all 0.5s;
  display: flex;

}

.blog-feature {

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

  height: 100%;

  transition: all 0.5s;

  display: flex;
}
.blog_sub_details_right
{
  position: absolute;
  bottom:12px;
  right:12px;
}

.blog_sub_details_left
{
  position: absolute;
  bottom:12px;
}

.testimonial__body img
{
  margin-bottom: 10px;
}

.casestudies-home .feature__body  p {
  margin-bottom:40px!important;
}
/* responsive */
@media screen and (max-width: 1199px) {
  .technologies .feature {
    min-height: 330px;
  }
  .case-block img {
    height: auto;
    max-height: 100%;
    object-fit: cover;
  }
  /* .feature.feature-5 {
    min-height: 310px;
  } */
}

@media screen and (max-width: 991px) {
  .case-block img {
    height: auto;
    max-height: 100%;
  }
  .imgbox {

    height: 150px;
    max-height: auto;
  }
  .testimonial__body img {
    height: 120px;
    max-height: 100%;
  }

  /* .bar.navigation-style .container .row {
    display: block;
} */

  .services .feature {
    min-height: auto;
  }

  .technologies .feature {
    min-height: auto;
  }

  .services .row div[class*='col-'] .feature.feature-3 {
    margin-bottom: 15px;
  }

  .services .feature.feature-3 p {
    min-height: auto;
  }

  .logo-style .logo {
    top: 4px;
  }

  .feature.feature-5 * {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
  }

  /* .feature.feature-5 {
    min-height: 500px;
  } */

  .feature.feature-5 i {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .services .feature {
    min-height: auto;
  }

  .logo-style .logo {
    top: 0px;
    height: auto;
    max-height: 80px;
  }

  .feature.feature-5 {
    min-height: auto;
  }
}
@media screen and (max-width: 991px) {
  .imgbox {
    height: 150px;
    max-height: auto;
  }
}

@media screen and (max-width: 1150px) and (min-width: 600px) {
  .testimonial__body img {
    height: auto;
    max-height: 100%;
}
}
