/* careers - start */

.careers .heroUnit {
  display: flex;
  min-height: 500px;
  position: relative;
  align-items: center;
  background: url(../careers.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.careers .label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: lowercase;
  height: auto;
  min-width: auto;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 1;
}

.career {
  font-size: 18px;
}

.career .jobPosition li {
  margin-bottom: 0px;
}

.about-us .heroUnit {
  display: flex;
  min-height: 350px;
  position: relative;
  align-items: center;
  background: url(../about.jpg);
  /*background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/about.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 7.42857143em;
}

.case-studies .heroUnit {
  display: flex;
  min-height: 400px;
  position: relative;
  align-items: center;
  background: url(../case-studies.png);
  /*background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/case-studies.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 7.42857143em;
}

.case-studies .card-container .imageblock {
  margin-bottom: 7.42857143em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
}

.case-studies .card-container .imageblock .background-image-holder {
  border-radius: 6px;
}

.case-studies .card-container .card-content {
  padding: 5rem;
}

.switchable .currentOpening div[class*='col-']:last-child {
  float: left;
}

#errorMessages {
  display: none;
  margin: 0 10px 15px 10px;
  padding: 8px 35px 8px 30px;
  color: #B94A48;
  background-color: #F2DEDE;
  border: 2px solid #EED3D7;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#success {
  display: none;
}

.success-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.success-msg {
  color: #270;
  background-color: #DFF2BF;
}


.teamMarquee {
  overflow: hidden;
}

.teamMarquee div {
  height: 450px;
  width: 6143px;
  animation: slide 100s linear infinite;
  background-image: url(../team.jpg);
}

@keyframes slide {
  0%   {background-position: 0 0;}
  100% {background-position: -6143px 0;}
}

/* careers - end */

/* ========================================================================== */
.technologies .boxed
{
  padding: 10px 10px 5px 10px;
  word-break: break-word;
}
.technologies .boxed h6
{
  line-height: 20px;
}
.show-featured {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.show-featured .post-img {
  max-width: 150px;
  padding-right: 15px;
  border-radius: 3px;
  overflow: hidden;
}
.show-featured .post-desc a {
  font-size: 18px;
  line-height: 22px;
  color: #111111;
  font-weight: 400;
}
.show-featured .post-desc .date {
  font-size: 1em;
  line-height: 1.85714286em;
  color: #666666;
  font-weight: 400;
  display: block;
}
.show-featured:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.author_block .post-img {
  max-width: 70px;
  max-height: 70px;;

}
.author_block img
{
  border-radius: 50%;
  width: 100%;
}
.blogdesc p
{
 margin-bottom: 10px;
}
.show-featured a:hover {
  text-decoration: none !important;
}
.recent .show-featured .post-desc a {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
}

.recent .show-featured .post-desc .date {
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  font-weight: 400;
  display: block;
}
.font-16
{
  font-size: 16px;;
}
.blog_social li a {
  font-size: 14px;
    line-height: 40px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #caeef8;
    color: #00aedb;
    text-align: center;
    border-radius: 30px;
    margin-right: 5px
}
.article__body p{
  text-align: justify;

}

.animated-title
{
  line-height: 20px;;
}
.dlab-separator-outer {
  overflow: hidden;
}
.dlab-separator.style-liner {
  width: 30px;
}
.dlab-separator {
  display: inline-block;
  height: 2px;
  width: 80px;
  margin-bottom: 10px;
  position: relative;
  background-color: #00aedb
}

.dlab-separator[class*="style-"]:after, .dlab-separator[class*="style-"]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40px;
  width: 70px;
  height: 2px;
  background: #dfdfdf;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dlab-separator[class*="style-"]:before {
  left: auto;
  right: 40px;
}
.font-14
{
  font-size: 13px;
}
/* .case-block .feature__body
{
  min-height: 300px;;
} */
.case-block .feature__body a
{
    position: absolute;
    bottom: 12px;
}
.typed-element {

  justify-content: center;;
}
.technologies .boxed:hover
{
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

/*Responsive*/
@media screen and (max-width: 991px) {
  .careers .heroUnit,
  .about-us .heroUnit,
  .case-studies .heroUnit {
    min-height: auto;
  }

  .case-studies .card-container .card-content {
    padding: 2rem;
  }
}
